.mail {
  flex: 1;
  background-color: whitesmoke;
}

.mail___tools {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.mail___toosLeft {
  display: flex;
}

.mail___body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  background-color: white;
  padding: 20px;
  height: 100vh;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.24);
}

.mail___bodyHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 20px;
  position: relative;
}

.mail___important {
  color: #e8ab02 !important;
}

.mail___bodyHeader > h2 {
  font-weight: 400;
  margin-right: 20px;
}

.mail___bodyHeader > p {
  margin-left: 20px;
}

.mail___time {
  position: absolute;
  top: 24px;
  right: 0;
  font-size: 12px;
  color: gray;
}
.mail___message > p {
  padding: 10px;
  margin-right: 20px;
  overflow-wrap: break-word;
}
